<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <script src="https://Kit.fontawesome.com/a076d05399.js"></script> -->
    <link rel="stylesheet" href="/src/root/css/site.css">

    <title>Document</title>
</head>

<body>

    <section class="section-header">
        <header class="header">

            <div class="menu">
                <nav class="menu-nav">
                    <div class="logo">Logo</div>
                    <input type="checkbox" id="click">
                    <label for="click" class="menu-btn">
                        <i class="fas fa-bars"></i>
                    </label>
                    <ul class="barra-menu">
                        <li class="menu-inicio"><a class="pag-activa" href="index.html">Inicio</a></li>
                        <li class="menu-registrarse"><a href="#">Registrarte</a></li>
                        <li class="menu-login"><a href="index.html">Iniciar Sesión</a></li>
                        <li class="menu-contactanos"><a href="#">Contactanos</a></li>

                    </ul>
                </nav>
            </div>
        </header>
    </section>
    
    <section class="main">
        <main>

        </main>
    </section>

</body>

</html>