<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <!-- <script src="https://Kit.fontawesome.com/a076d05399.js"></script> -->
  <link rel="stylesheet" href="/src/root/css/site.css">
</head>


<body>
  <section class="section-header">
    <header class="header">
      <div class="menu">
        <nav class="menu-nav">
          <div class="logo">Logo</div>
          <input type="checkbox" id="click">
          <label for="click" class="menu-btn">
            <i class="fas fa-bars"></i>
          </label>
          <ul class="barra-menu">            
            <li class="menu-registrarse"><a href="#">Registrarte</a></li>            
            <li class="menu-contactanos"><a href="#">Contactanos</a></li>
          </ul>
        </nav>
      </div>
    </header>
  </section>
  
  
  <section class="vh-100 bg-primary">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card bg-dark text-white" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">
              <div class="mb-md-5 mt-md-4 pb-5">
                <h2 class="fw-bold mb-2 text-uppercase">¡Bienvenido!</h2>
                <p class="text-white-50 mb-5">Ingrese sus credenciales</p>
                <div class="form-outline form-white mb-4">
                  <input type="email" id="typeEmailX" class="form-control form-control-lg"
                    placeholder="Email o nombre de usuario" />
                </div>
                <div class="form-outline form-white mb-4">
                  <input type="password" id="typePasswordX" class="form-control form-control-lg"
                    placeholder="Contraseña" />
                </div>
                <!-- <p class="small mb-5 pb-lg-2"><a class="text-white-50" href="#!">Forgot password?</a></p> -->
                <button class="btn btn-outline-light btn-lg px-5" type="submit">Login</button>
              </div>
              <div>
                <p class="mb-0">¿No tienes cuenta? <a href="#!" class="text-white-50 fw-bold">Registrarse</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>
</html>