<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Index</title>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="/src/root/js/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="/src/root/css/site.css">
<link rel="stylesheet" href="/src/root/css/barnner.css">
<script>
$(document).ready(function(){
	$('[data-toggle="tooltip"]').tooltip();
		
	var checkbox = $('table tbody input[type="checkbox"]');
	$("#selectAll").click(function(){
		if(this.checked){
			checkbox.each(function(){
				this.checked = true;                        
			});
		} else{
			checkbox.each(function(){
				this.checked = false;                        
			});
		} 
	});
	checkbox.click(function(){
		if(!this.checked){
			$("#selectAll").prop("checked", false);
		}
	});
});
</script>
</head>
<body>
    <section class="section-header">
        <header class="header">    
            <div class="menu">
                <nav class="menu-nav">
                    <div class="logo"><img src="/src/root/img/logo.png" alt="Logo" width="75%"></div>
                    <input type="checkbox" id="click">
                    <label for="click" class="menu-btn">
                        <i class="fas fa-bars"></i>
                    </label>
                    <ul class="barra-menu">
                        <li><a href="login.html">Cerrar sesión</a></li>
    
                    </ul>
                </nav>
            </div>
        </header>
    </section>

	<!-- <section class="banner">
        <div class="banner-contenido">
            <h1 id="asd">Bienvenidos a mi libreria</h1>
            <a href="#">Ver libros</a>
        </div>
    </section> -->


    <div class="container">
		<div class="table-responsive">
			<div class="table-wrapper">
				<div class="table-title">
					<div class="row">
						<div class="col-xs-6">
							<h2><b>Listado de libros</b></h2>
						</div>
						<div class="col-xs-6">
							<a href="#nuevoModal" class="btn btn-success" data-toggle="modal"><i class="material-icons">&#xE147;</i> <span>Nuevo libro</span></a>
							<a href="#borrarModal" class="btn btn-danger" data-toggle="modal"><i class="material-icons">&#xE15C;</i> <span>Borrar</span></a>						
						</div>
					</div>
				</div>
				<table class="table table-striped table-hover">
					<thead>
						<tr>
							<th>
								<span class="custom-checkbox">
									<input type="checkbox" id="selectAll">
									<label for="selectAll"></label>
								</span>
							</th>
							<th>Titulo</th>
							<th>Autor</th>
							<th>Editorial</th>
							<th>Presentación</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>
								<span class="custom-checkbox">
									<input type="checkbox" id="checkbox1" name="options[]" value="1">
									<label for="checkbox1"></label>
								</span>
							</td>
							<td>El profesor</td>
							<td>Katzenbatch</td>
							<td>Norma</td>
							<td>Pasta dura</td>
							<td>
								<a href="Comentario.html" class="edit" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
								<a href="#borrarModal" class="delete" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
							</td>
						</tr>
						<tr>
							<td>
								<span class="custom-checkbox">
									<input type="checkbox" id="checkbox2" name="options[]" value="1">
									<label for="checkbox2"></label>
								</span>
							</td>
							<td>El Psicoanalista</td>
							<td>Katzenbatch</td>
							<td>Booket</td>
							<td>Pasta blanda</td>
							<td>
								<a href="Comentario.html" class="edit" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
								<a href="#borrarModal" class="delete" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
							</td>
						</tr>
						<tr>
							<td>
								<span class="custom-checkbox">
									<input type="checkbox" id="checkbox3" name="options[]" value="1">
									<label for="checkbox3"></label>
								</span>
							</td>
							<td>Jaquel al psicoanalista</td>
							<td>Katzenbatch</td>
							<td>La trama</td>
							<td>Pasta dura</td>
							<td>
								<a href="Comentario.html" class="edit" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
								<a href="#borrarModal" class="delete" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
							</td>
						</tr>
						<tr>
							<td>
								<span class="custom-checkbox">
									<input type="checkbox" id="checkbox4" name="options[]" value="1">
									<label for="checkbox4"></label>
								</span>
							</td>
							<td>Lo que no te mata te hace más fuerte</td>
							<td>David Lagercrantz</td>
							<td>Ancora y Delfín</td>
							<td>Pasta dura</td>
							<td>
								<a href="Comentario.html" class="edit" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
								<a href="#borrarModal" class="delete" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
							</td>
						</tr>	
					</tbody>
				</table>	
			</div>
		</div>        
    </div>
	<!-- Crear -->
	<div id="nuevoModal" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<form>
					<div class="modal-header">						
						<h4 class="modal-title">Agregar libro</h4>
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					</div>
					<div class="modal-body">					
						<div class="form-group">
							<label>Titulo</label>
							<input type="text" class="form-control" required>
						</div>
						<div class="form-group">
							<label>Autor</label>
							<input type="text"	class="form-control" required>
						</div>
						<div class="form-group">
							<label>Editorial</label>
							<textarea  type="text" class="form-control" required></textarea>
						</div>
						<div class="form-group">
							<label>Presentación</label>
							<input type="text" class="form-control" required>
						</div>					
					</div>
					<div class="modal-footer">
						<input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar">
						<input type="submit" class="btn btn-success" value="Crear">
					</div>
				</form>
			</div>
		</div>
	</div>
	<!-- Editar -->
	<!--<div id="editarModal" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<form>
					<div class="modal-header">						
						<h4 class="modal-title">Edit Employee</h4>
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					</div>
					<div class="modal-body">					
						<div class="form-group">
							<label>Name</label>
							<input type="text" class="form-control" required>
						</div>
						<div class="form-group">
							<label>Email</label>
							<input type="email" class="form-control" required>
						</div>
						<div class="form-group">
							<label>Address</label>
							<textarea class="form-control" required></textarea>
						</div>
						<div class="form-group">
							<label>Phone</label>
							<input type="text" class="form-control" required>
						</div>					
					</div>
					<div class="modal-footer">
						<input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
						<input type="submit" class="btn btn-info" value="Save">
					</div>
				</form>
			</div>
		</div>
	</div>-->
	<!-- Borrar -->
	<div id="borrarModal" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<form>
					<div class="modal-header">						
						<h4 class="modal-title">Borrar Libro</h4>
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					</div>
					<div class="modal-body">					
						<p>¿Esta seguro que desea borrar los registros seleccionados?</p>
						<p class="text-warning"><small>Esta acción no tendra retroceso.</small></p>
					</div>
					<div class="modal-footer">
						<input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar">
						<input type="submit" class="btn btn-danger" value="Borrar">
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>