body{
    width: 100%;
    height: 100%;
    font-family: sans-serif;
    letter-spacing:  0.03em;
    line-height: 1.6;
}

.contenedor-tarjetas{
    width: 100%;
    max-width: 1200%;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;

}

.contenedor-tarjetas .tarjeta{
width: 350px;
height: 460px;
border-radius: 8px;
box-shadow: 0 2px 2px rgba(0,0,0,0.2);
overflow: hidden;
margin: 20px;
text-align: center;
transition: all 0.25s;
}

.contenedor-tarjetas .tarjeta:hover{
transform:  translateY(-12px);
box-shadow: 0 12px 16px rgba(0,0,0,0.2);
}

.contenedor-tarjetas .tarjeta .img{
width: 330px;
height: 220px;
}

.contenedor-tarjetas .tarjeta h4{
color: rgb(16, 118, 235);    
font-weight: 600;
}

.contenedor-tarjetas .tarjeta p{
    padding:  0 1rem;
    font-size:  16px;
    font-weight: 300;  
}

.contenedor-tarjetas .tarjeta a{
    font-weight: 500;
    font-style: inherit;
    text-decoration: none;
    color:  rgb(233, 139, 51);

    }
    
    