html {
    font-family: 'Source Sans Pro', Georgia, Times, 'Times New Roman', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    color: rgb(57, 59, 68); /* valido para titulos y parrafos */
    text-align: center;
}

color: rgb(213, 205, 221);
background-color: 
color: rgb(209, 209, 209);
background: rgb(65, 65, 65);
color: aliceblue;
background-color: rgba(37, 117, 252,0.5)
background: rgb(34, 34, 34);
